// .headerContainer {
//     position: absolute;
//     max-width: 70rem;
//     height: 6.563rem;
//     left: 10rem;
//     top: 0;
// }

// .logo {
//     position: absolute;
//     top: 2.5rem;
//     left: 13.125rem;
//     cursor: pointer;
// }

.headerContainer {
    height: 6.563rem;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70rem;
    height: 6.563rem;
}
